.Home{
  margin: 0;
  padding: 2vw;
}

.page-title{
  color: black;
  font-size: xx-large;
}

.big-block img{
  width: 150px;
}

.big-block{
  color: green;
}

.right-sidebar-block img{
  width: 50px;
}

.below-block img{
  width: 50px;
}

