.Home{
  margin-top: 100px;
}

.page-title{
  color: black;
  font-size: xx-large;
  padding-left: 90px;
}

.big-block img{
  width: 200px;
}

.big-block{
  color: black;
  width: 150px;
}

.right-sidebar-block img{
  width: 50px;
}

.below-block img{
  width: 50px;
}


li {
  list-style: none;
}
