a {
    text-decoration: none;
}

.header {
    min-height: 64px;
    display: flex;
    background-color: white;
    box-shadow: 0 0 4px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    position: fixed;
    top: 0;
    left: 0;
}

.left {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.links {
    font-family: franklin-gothic-urw, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 6px 16px;
    transition: ease 0.4s;
}

.links:hover{
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
    transition: ease 0.4s;
}

.wordmark {
    font-family: minion-pro, "Times New Roman", serif;
    font-weight: normal;
    font-size: 1.5rem;
    color: black;
}

@media only screen and (max-width: 500px) {
    .wordmark {
        font-size: 1rem;
    }

    .links {
        font-size: 1rem;
    }
}

