.header{
    background: white;
    display: flex;
    justify-content: left;
    align-items: center;
}

.links {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}
