.big-block {
    background-color: antiquewhite;
    margin-bottom: 15px;
    margin-left: 90px;
    display: block;
    width: 200px;
    padding-bottom: 5px;
}

.name {
    font-size:larger;
    font-weight:400;
    padding: 5px;
}

.date {
    font-weight: 300;
    padding: 5px;
}
