.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Question {
    column-gap: 30px;
    font-size: larger;
    font-weight: 500;
    display: flex;
    align-items: start;
    margin: 10px 0;
    padding: 10px;
    width: 90vw;
    border-radius: 10px;
}

.question {
    font-size: larger;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.question-img {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-bottom: 0;
    flex-direction: column;
    align-self: center;
    object-fit: cover;
    object-position: 100% 0;
}
 
.choices {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    font-size: inherit;
    font-weight: 500;
}

.choices > label {
    line-height: 1.2;
    margin: 10px 0;
}

input[type="radio"] {
    appearance: none;
}

.option {
    transition: all 0.1s ease-in-out;
    background-color: #eaeaea;
    width: fit-content;
    padding: 10px 15px;
    margin: -15px 0;
    border-radius: 30px;
    cursor: pointer;
}

.option:hover {
    transform: scale(110%);
    animation-duration: 50ms;
}

@keyframes bounce {
    0% {}
    30% {scale: 90%;}
    70% {scale: 110%;}
    100% {scale: 100%;}
}

:checked + .option {
    animation: 0.3s ease-in 0s bounce;
    font-weight: bold;
    background-color: orange;
}

.green {
    background-color: #6ad56a;
}

@media only screen and (max-width: 650px) {

}

