.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Question {
    position: relative;
    font-size: larger;
    font-weight: 500;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.question {
    font-size: larger;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.question-img{
    width: 300px;
    height: 300px;
    padding-top: 5px;
    padding-right: 20px;
    display: inline-block;
    margin-bottom: 0;
    flex-direction: column;
    object-fit: cover;
    object-position: 100% 0;
}
 
.choices {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    font-size: inherit;
    font-weight: 500;
    line-height: 3;
}

input[type="radio"] {
    line-height: 1;
    accent-color: orange;
}

.green {
    background-color: green;
}

@media only screen and (max-width: 600px) {

}

