.finish-quiz {
    align-self: flex-start;
    background-color: black;
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 30px;
    text-align: center;
    transition: all 0.1s ease-in-out;
}

.finish-quiz:hover {
    background-color: orange;
}

.quiz-title {
    font-size: 32px;
    font-weight: bold;
    display: block;
}

.deets {
    margin: 15px 70px;
}